$block-signup: '.sign-up';

#{$block-signup}{
  padding-top: 1.5rem;
  font-size: 4.6rem;
  background-color: $secondary-color;

  h2{
    color: $white;
    display: inline-block;
    vertical-align: -5px;
    font:{
      size: 4.6rem;
    }
    line-height: 1;
    margin-top: 0rem;
    @include breakpoint(large down){
      font-size: 3.6rem;
    }
    @include breakpoint(medium down){
      text-align: center;
    }
  }  
  .gform_wrapper{
    width: 65%;
    float: right;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    text-align: right;
    .top_label{
      .gfield_label{
        display: none;
      }
    }
    form{
      text-align: right;
    }

    ul.gform_fields li.gfield{
      display: inline-block;
      margin-top: 0;
      padding-right: 0;

      .ginput_container{
        margin-top: 0;
      }
      &:first-child{
        width: 69%;
        display: inline-block;
        text-align: left;
        vertical-align: top;
        @include breakpoint(small only){
          width: 100%;
        }
      }
      &:last-child{
        width: 31%;
        vertical-align: bottom;
        @include breakpoint(small only){
          width: 100%;
        }
      }     
      
    }
    .gform_body,
    .gform_footer{
      display: inline-block;
    }
    .gform_body{
      width: 80%;
      max-width: 100%;
      vertical-align: top;
      .gform_fields{
        padding-right: 0.4rem;
        // line-height: 44px;
        // text-align: right;
      }
      @include breakpoint(large down){
        width: 78%;
      }
      @include breakpoint(small only){
        width: 100%;
      }
    }
    .gform_footer{
      width: 19%;
      text-align: right;
      margin-top: 0;
      padding: 0;
      line-height: 40px;
      input[type="submit"]{
        @extend %btn;
        color: $white;
        background: $blue-neuton;
        height: 4rem;
        margin-right: 0;
        padding: 0.9rem 1.7rem 0.9rem !important;
        vertical-align:middle;
        width: 14.1rem;
        max-width: 100%;
        @include breakpoint(large down){
          font-size: 1.8rem;
          padding: 1rem 0;
        }
        @include breakpoint(medium down){
          width: 100%;
          line-height: 1 !important;
        }
        @include breakpoint(small only){
          width: 100%;
        }
      }
      @include breakpoint(large down){
        width: 20%;
      }
      @include breakpoint(small only){
        width: 100%;
        padding-top: 3rem;
        text-align: center;
      }
    }
    @include breakpoint(medium down){
      width: 100%;
      margin-top: 0.5rem;
    }
  }
  hr{
    margin-top: 3rem;
    margin-bottom: 0;
  }
  .gform_wrapper .field_sublabel_below 
  .ginput_complex.ginput_container label{
    display: none;
  }
  div.ginput_complex.ginput_container.gf_name_has_2 span{
    // width: 20rem;
    max-width: 100%;
    margin-top: 0;
    padding-right: 1rem;
    @include breakpoint(large down){
      width: 50%;
    }
    @include breakpoint(medium down){

    }
    @include breakpoint(small only){
      width: 100%;
      padding-right: 0;
    }
  }
  .gform_wrapper .top_label input.medium{
    background: $secondary-color;
    color: $white;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
    height: 4rem;
    &::-webkit-input-placeholder {
        color: #637594;
    }
    &:-moz-placeholder {
        color: #637594;
    }
    &::-moz-placeholder {
        color: #637594;
    }
    &:-ms-input-placeholder {
        color: #637594;
    }
    @include breakpoint(xlarge down){
      // width: 18rem;
    }
    @include breakpoint(large down){
      width: 100%;
    }
  }
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_first, 
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_last, 
  .gform_wrapper.gf_browser_chrome ul.gform_fields li.gfield span.name_middle{
    padding-right: 1rem;
    @include breakpoint(small only){
        padding-right: 0;
    }
  }
  .gform_confirmation_wrapper{
    display: inline-block;
    margin-left: 4rem;
    color: $white;
    @include breakpoint(medium down){
      display: block;
      margin-left: 0;
    }
  }
  @include breakpoint(large down){
    font-size: 3.6rem;
  }

  .top_label div.ginput_complex.ginput_container.gf_name_has_1, .top_label div.ginput_complex.ginput_container.gf_name_has_2, 
  .top_label div.ginput_complex.ginput_container.gf_name_has_3{
    width: 100% !important;
    max-width: 100%;
    @include breakpoint(xlarge down){
      width: 19rem;
    }
  }

  .top_label div.ginput_complex.ginput_container.gf_name_has_2,
  body .gform_wrapper .top_label div.ginput_container{
    margin-top: 0;
  }

  .gform_wrapper ul li::after, .gform_wrapper ul li::before, .gform_wrapper ul.gform_fields{
    padding-right: 0;
  }

  .gform_wrapper .ginput_complex input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="image"]):not([type="file"]){
    margin-bottom: 0; 
    background: $secondary-color;
    color: $white;
    height: 4rem;
    padding: 5px 9px !important;
    &::-webkit-input-placeholder {
        color: #637594;
    }
    &:-moz-placeholder {
        color: #637594;
    }
    &::-moz-placeholder {
        color: #637594;
    }
    &:-ms-input-placeholder {
        color: #637594;
    }
    @include breakpoint(small only){
      margin-bottom: 1rem;
    }
  }

  .gform_wrapper.gf_browser_ie .gform_footer input.button{
    vertical-align: top;
  }
}

.banner--homepage + .sign-up .gform_confirmation_wrapper {
  margin-bottom: 3rem;
}
