.theme-light 
	--color-headline-color: #707173 
	--color-intro-color: #666a73
	--color-bold-color: #000000 
	--color-accent-color: #d22630
	--color-container-color: #010101 
	--color-preelement-color: #4f4f4f 
	--secondary-background-color: #ffffff
	--container-background-color: #ffffff
	--background-color: #ffffff
	--background-light: #ffffff
	--background-accent: #efefef

.theme-dark 
	--color-headline-color: #ffffff 
	--color-intro-color: #ffffff
	--color-bold-color: #ffffff
	--color-accent-color: #ffffff
	--color-container-color: #ffffff
	--color-preelement-color: #ffffff 
	--secondary-background-color: #707173
	--container-background-color: #212121 
	--background-color: #2a2a2a
	--background-light: transparent
	--background-accent: #707173
