.theme-dark

    --color-default-color: #ffffff
    --color-default-color-reverse: #000000

    --color-muted-light: #707173
    --color-muted: #707173
    --color-muted-dark: #707173

    --color-footer: #212121

    // Background Colors
    --bg-page: #1a1a1a
    --data-background-color: #4d4d4d
    --bg-header-submenu: #2a2a2a
    --bg-header-submenu-menu: #ffffff
    --bg-card: #141414
    --bg-nav-item: #2a2a2a

    --separator: #4d4d4d
    --separator-reversed: #f0f1f1

    // Main Menu Text Colors
    --menu-heading-title: #cccccc
    --menu-subheading-title: #b0b0b0

    --wysiywg-text-in-gray: #000000

    --bg-fade: #000000
