.theme-light

    --color-default-color: #000000
    --color-default-color-reverse: #ffffff

    --color-muted-light: #707173
    --color-muted: #707173
    --color-muted-dark: #707173

    --color-footer: #212121

    // Background Colors
    --bg-page: #ffffff
    --data-background-color: #f3f4f7
    --bg-header-submenu: #000000
    --bg-header-submenu-menu: #2a2a2a
    --bg-card: #efefef
    --bg-nav-item: #f0f0f0

    --separator: #f0f1f1
    --separator-reversed: #454545

    // Main Menu Text Colors
    --menu-heading-title: #707173
    --menu-subheading-title: #4f4f4f

    --wysiywg-text-in-gray: #d22630

    --bg-fade: #c9c9c9
        
