/* purgecss start ignore */
.wrapper-page
	max-width: 73.75rem
	width: 95%

.alignnone
	margin: 5px 20px 20px 0px

.aligncenter
	@apply block #{!important}
	@apply my-1 mx-auto

.alignright
	margin: 5px 0 20px 20px
	@apply float-right

.alignleft
	margin: 5px 20px 20px 0
	@apply float-left

.wp-caption
	border: 1px solid #f0f0f0
	max-width: 96%
	padding: 5px 3px 10px
	@apply text-center bg-white

	.alignnone
		margin: 5px 20px 20px 0

	.alignleft
		margin: 5px 20px 20px 0

	.alignright
		margin: 5px 0 20px 20px

	img
		max-width: 98.5%
		@apply w-auto h-auto p-0 m-0 border-0

	p.wp-caption-text
		padding: 0 4px 5px
		@apply text-xs m-0

/* purgecss end ignore */
