$error: '.error';

#{$error}{
  padding-top: 26rem;
  padding-bottom: 29rem;
  background-color: #efefef;
  h2{
    font-size: 2.8rem;
    color: $secondary-color;
    line-height: 30px;
    margin-top: -3rem;
  }

  @include breakpoint(medium down){
    padding-top: 15rem;
  padding-bottom: 19rem;
  }
}