$home: '.homepage';

#{$home}
{   
    .recent-posts{
        background-image: url(../img/research/ifs-watermark.jpg);
        background-repeat: no-repeat;
        background-position: right 0% top;
        background-size: auto;
        .destacada{
          padding-top:5rem;
          // .articles{
          //   padding-bottom: 0 !important;
          // }
        }

        .articles{
            img{
                max-width: 180px;    
            }

            &:last-child{
                .articles__item:after{
                    background: none;
                }
            }
        }
    }
    .featured-case{
        background-color: #efefef;

        .articles{
            padding-bottom: 0;
            background-image: none;


            
            .featured-case__text{
                margin: 3.5rem 0rem;

                .articles__more{
                   display: block;
                   width: 7rem;
                   background-color:#757575;
                   color: #ffffff;  
                   text-align: center;   
                   margin-left: 0; 
                   margin-bottom: 2.5rem;
                }

                .btn--blue{
                   width: 14rem;
                   text-align: center;
                   display: inline-block; 
                   margin: 0.5rem;

                   @include breakpoint(medium down){
                    width: 100%;
                    margin: 0.5rem auto;
                   }
                }
            }

        }

        img {
            width: 100%;
        }

        .candle{
            width: auto;
            position: absolute;
            top: -3.5rem; 
            right: 0;
        }
    }

    .articles{
        padding-bottom: 0 !important;
        background-image: none;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.lightboxHome{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    padding: 15px;
    display: flex;
    position: fixed;
    z-index: 9999999;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    background: rgba(0, 0, 0, .70);

    @include breakpoint(small down){
        position: absolute;
    }

    &.hide-lightboxHome {
        opacity: 1 !important;
        visibility: visible !important;
    }

    .close-arrow-lg {
        right: 0;
        top: -40px;
        cursor: pointer;
        position: absolute;
    }

    .box-content{
        width: 540px;
        height: 360px;
        position: relative;
        background-image: url('../img/home/bg-lightbox.jpg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include breakpoint(small down){
            width: 100%;
            max-width: 540px;
            background-size: cover;
            background-position: center right;
        }
    }

    .title-lg{
        background: #1E3764;
        border-left: 8px solid #FFBE32;
        font-family: 'Yrsa', serif;
        font-weight: 300;
        color: #ffffff;
        font-size: 50px;
        line-height: 30px;
        width: 405px;
        margin: auto;
        box-sizing: border-box;
        padding: 30px 10px 20px;
        text-align: center;
        position: relative;
        top: -40px;

        @include breakpoint(small down){
            width: 80%;
            font-size: 40px;
        }
    }

    .box-link{
        width: 217px;
        text-align: center;
        margin: 61px 0px 0px 300px;

        @include breakpoint(small down){
            margin: 50px auto;
        }

        div{
            font-family: 'Yrsa', serif;
            color: #1E3764;
            font-size: 50px;
            line-height: 40px;
            font-weight: 300;

            span{
                font-family: 'Yrsa', serif;
                color: #1E3764;
                font-size: 50px;
                line-height: 40px;
                font-weight: 500;
            }
        }

        a{
            display: block;
            margin: 50px auto 0px;
            width: 178px;
            background: #FFBE32;
            color: #1E3764 !important;
            font-size: 18px;
            line-height: 24px;
            padding: 8px;
            font-family: 'Oxygen', sans-serif;
            font-weight: 700;
        }
    }
}
