$block: '.woocommerce';

#{$block}{
	.lost-password {
		padding: 3rem 0;
		/*.woocommerce-message {
			 @include message('info');
		}*/
		p {
			margin-top: 3rem;
		}
	}
}

.lost_reset_password {
	padding-top: 3rem;
}