.training-program-soon {
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: #73b644;
    background-size: cover;
    background-position: right bottom;
    background-repeat: no-repeat;

    @include breakpoint(medium only) {
        padding: 8rem 2rem;
    }

    @include breakpoint(medium down) {
        padding: 5rem 2rem;
        background-position: left bottom;
    }


    .grid-container {

        .grid-x {
            display: flex;
            align-items: center;
        }
        
    }

    // Title
    &__title {
        margin-bottom: 2rem;

        @include breakpoint(small down) {
            text-align: center;
        }
    }

    // Description
    &__description {
        z-index: 2;
        color: #0a0d02;
        font-size: 2.6rem;
        position: relative;
        padding-right: 0rem;
        line-height: 2.8rem;
        margin-bottom: 30px;
        font-family: 'PT Sans', sans-serif;

        @include breakpoint(medium down) {
            font-size: 2.2rem;
            line-height: 2.4rem;
        }

        a {
            color: $white;
            text-decoration: underline;

            &:hover {
                color: $white;
            }
        }
    }

    // Link
    &__link {
        width: 100%;
        color: $white;
        max-width: 33rem;
        padding: 1.7rem;
        text-align: center;
        font-size: 2.6rem;
        line-height: 2.6rem;
        font-weight: bold;
        border-radius: 0.5rem;
        display: inline-block;
        text-transform: uppercase;
        background-color: #ea2c2b;

        @include breakpoint(small down) {
            font-size: 2rem;
            line-height: 2rem;
        }

        &:hover {
            color: $white;
        }
    }

}