$block: '.sketch';

#{$block}{
    padding: 1.5rem 0;
    &__button {
        padding: 1.9rem 0;
        font-weight: bold;
        &.yellow {
            color: #585f63;
            &:hover {
               color: #585f63;
            }
        }
    }
}
