/* purgecss start ignore */
.wrapper-page
	max-width: 73.75rem
	width: 95%

.alignnone
	margin: 5px 20px 20px 0px

.aligncenter
	@apply tw-block #{!important}
	@apply tw-my-1 tw-mx-auto

.alignright
	margin: 5px 0 20px 20px
	@apply tw-float-right

.alignleft
	margin: 5px 20px 20px 0
	@apply tw-float-left

.wp-caption
	border: 1px solid #f0f0f0
	max-width: 96%
	padding: 5px 3px 10px
	@apply tw-text-center tw-bg-white

	.alignnone
		margin: 5px 20px 20px 0

	.alignleft
		margin: 5px 20px 20px 0

	.alignright
		margin: 5px 0 20px 20px

	img
		max-width: 98.5%
		@apply tw-w-auto tw-h-auto tw-p-0 tw-m-0 tw-border-0

	p.wp-caption-text
		padding: 0 4px 5px
		@apply tw-text-xs tw-m-0

/* purgecss end ignore */
