$block:'.banner-taxonomy';

#{$block}{
  background:{
    image: url('../img/research/research-banner.jpg');
    repeat: repeat;
    size: cover;
    position: center left;  
  }    
  
  .banner__image{
    height: 100%;
    width: calc(60% - 1.5rem);
    background:{
      image: url('../img/research/research-banner.jpg');
      repeat: no-repeat;
      size: cover;
      position: bottom left;
    }
    position: absolute;
    top: 0;
    right: 1.5rem;
    z-index: 1;
    @include breakpoint(medium down){

    }
  }
}

// .archive{
//   .articles__section{
//     padding-top: 6rem;
//     @include breakpoint(medium down){
//       padding-top: 3rem;
//     }
//   }
// }