.work-matters-more-description
    max-height: 0px
    @apply overflow-hidden transition-all duration-150 ease-in-out

.latin-america-2
    left: calc(34% - 96px)
    top: calc(49% - 28.5px)
    @media screen and (max-width: 1100px)
        left: calc(32% - 96px)

.ships-2
    left: calc(45% - 96px)
    top: calc(62% - 28.5px)
    @media screen and (max-width: 1100px)
        left: calc(43% - 96px)

.europe-2
    left: calc(60% - 96px)
    top: calc(24% - 28.5px)
    @media screen and (max-width: 1100px)
        left: calc(57% - 96px)

.africa-2
    left: calc(63% - 92px)
    top: calc(59% - 28.5px)
    @media screen and (max-width: 1100px)
        left: calc(61% - 92px)

.central-asia-2
    left: calc(79% - 96px)
    top: calc(29% - 28.5px)
    @media screen and (max-width: 1100px)
        left: calc(75% - 96px)

.india-2
    left: calc(79% - 96px)
    top: calc(42% - 28.5px)
    @media screen and (max-width: 1100px)
        left: calc(75% - 96px)

.east-asia-2
    left: calc(91% - 96px)
    top: calc(53% - 28.5px)

.middle-east-2
    left: calc(57% - 96px)
    top: calc(42% - 28.5px)

.max-w-4xxl
    max-width: 55rem

.title-video
    h1
        @apply text-3xl text-red-500 font-roboto font-light
        @screen lg
            @apply text-4xl
