/* purgecss start ignore */
	
@import ./front-page
@import ./about
@import ./short-term
@import ./long-term
@import ./get-inspired
@import ./ways-to-give
@import ./internships
@import ./stories
@import ./virtual

.text-medium
	font-weight: 600

.text-2xl-new
	font-size: 1.75rem

.padding-t-10
	padding-top: 10px

.padding-b-10
	padding-bottom: 10px

.w-170
	width: 170px

.padding-t-25
	padding-top: 25px

.max-w-120
	max-width: 120px
	width: 120px

.w-auto
	width: auto

.border-button
	border: 3px solid #FFFFFF 

.z-2
	z-index: 2

.max-400
	max-width: 400px
	@media screen and (max-width: 639px)
		max-width: 300px

.h-615
	height: 615px
	@media screen and (max-width: 639px)
		height: 500px

.font-58
	font-size: 58px
	@media screen and (max-width: 639px)
		font-size: 36px

.card-text strong
	font-weight: 500

.gradient-card
	width: 100%
	height: 60%
	position: absolute
	bottom: 0px
	left: 0px
	background: linear-gradient(rgba(0,0,0,0) 10%,rgba(0,0,0,0.6) 74%)
	z-index: 1

.opacity-15
	opacity: 0.15
	transition: all 0.3s linear

.card
	transition: all 0.3s linear

.card:hover
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4)
	transition: all 0.3s linear

.card:hover .opacity-15
	opacity: 1
	transition: all 0.3s linear

.max-400:first-child .card
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4)
	transition: all 0.3s linear

.action-block:hover .max-400:first-child .card
	box-shadow: none

.max-400:first-child:hover .card
	box-shadow: none

.max-400:first-child:hover .card
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4) !important

.action-block:hover .max-400:first-child .card .opacity-15
	opacity: 0.15

.action-block .max-400:first-child:hover .card .opacity-15
	opacity: 1 !important

.max-400:first-child .card .opacity-15
	opacity: 1
	transition: all 0.3s linear

.action-block:hover .max-400:first-child .card .copy-card
	display: none

.action-block .max-400:first-child:hover .card .copy-card
	display: block !important
	color: #FFF !important

.max-400:first-child .card .copy-card
	display: block
	transition: all 0.4s linear
	color: #FFF

.max-400:first-child .card .card-text
	color: #FFF

.action-block .max-400:first-child:hover .card .card-text
	color: #FFF !important

.text-w-hover strong
	font-weight: 600

.max-400:first-child .card .text-w-hover
	color: #FFF

.action-block:hover .max-400:first-child .card .text-w-hover
	@apply text-red-200-new

.action-block .max-400:first-child:hover .card .text-w-hover
	color: #FFF !important

.action-block:hover .max-400:first-child .card .card-text
	color: #707173

.theme-dark .action-block:hover .max-400:first-child .card .text-w-hover
	color: #FFFFFF !important

.copy-card
	transition: all 0.4s

.card:hover .copy-card
	display: block
	transition: all 0.4s linear

.text-w-hover
	transition: ease 0.4s linear

.card:hover .text-w-hover
	color: white
	transition: ease 0.4s linear

.title-form strong
	@apply text-red-200-new

.pt-76
	padding-top: 76px
	@media screen and (max-width: 1023px)
		padding-top: 46px

.pb-55
	padding-bottom: 55px
	@media screen and (max-width: 1023px)
		padding-bottom: 35px

.text-32
	font-size: 32px
	@media screen and (max-width: 1180px)
		font-size: 26px
	@media screen and (max-width: 1023px)
		font-size: 20px

.content-form strong
	font-weight: 500
	font-size: 36px
	@media screen and (max-width: 1180px)
		font-size: 28px
	@media screen and (max-width: 1023px)
		font-size: 22px

.image-form
	width: 100%
	height: auto

.h-50
	height: 50px

.font-15
	font-size: 15px
	@media screen and (max-width: 639px)
		font-size: 13px

.cta-form img 
	@media screen and (max-width: 639px)
		width: 20px

.cta-form
	max-width: 155px
	height: 50px
	right: 40px
	bottom: 35px
	@media screen and (max-width: 639px)
		max-width: 125px
		height: 40px
		right: 20px
		bottom: 20px

.font-10
	font-size: 10px

.right-60
	right: 60px

.text-form strong
	color: #fa0412
	font-weight: normal

.max-1350
	max-width: 1350px

.max-470
	max-width: 470px

.prefooter-text strong
	font-size: 46px
	padding-top: 20px
	font-weight: 500
	@media screen and (max-width: 639px)
		font-size: 32px

.w-190
	width: 190px

.logo-organization
	@media screen and (max-width: 639px)
		max-width: 110px

.image-pre-footer
	width: calc(100% - 475px)
	@media screen and (max-width: 1023px)
		width: 90%

.theme-light .image-pre-footer
	background-image: none

.theme-dark .image-pre-footer
	background-image: url(../images/dark-background.jpg)
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	@media screen and (max-width: 1170px)
		background-image: none

.image-pre-footer div 
	width: 880px
	position: absolute
	bottom: 0px
	left: 0px
	@media screen and (max-width: 1585px)
	max-width: 800px
	@media screen and (max-width: 1435px)
	max-width: 780px
	@media screen and (max-width: 1400px)
		max-width: 110%
		width: 110%
	@media screen and (max-width: 1290px)
		max-width: 105%
		width: 105%
	@media screen and (max-width: 1023px)
		position: relative
		max-width: 100%
		width: 100%

.form-subscribe .gform_confirmation_message
	color: #FFFFFF
	@apply font-lato
	font-weight: 600
	font-size: 18px

.font-11
	font-size: 11px

.font-13
	font-size: 13px

.buttons-donate
	@media screen and (max-width: 639px)
		width: 100% !important

.color-black-500
	color: #212121	

/* purgecss end ignore */