
.max-calc-post
	max-width: calc(100% - 830px)
	margin-left: -1px
	@media screen and (max-width: 1180px)
		max-width: calc(100% - 650px)
	@media screen and (max-width: 1040px)
		max-width: calc(100% - 630px)
	@media screen and (max-width: 1023px)
		max-width: 100%

.max-card
	max-width: 400px

.max-post
	height: 115px
	@media screen and (max-width: 768px)
		height: auto

.height-title-post
	height: 65px
	@media screen and (max-width: 768px)
		height: auto

.height-excerpt
	height: 105px
	@media screen and (max-width: 768px)
		height: auto

.thumb img
	border-top-left-radius: 5px
	border-top-right-radius: 5px

.image-thumb img
	@media screen and (max-width: 1023px)
		border-top-left-radius: 5px
		border-top-right-radius: 5px
		width: 100%
		height: auto

.custom-select
	background-image: url(../images/arrow-down.png)
	background-repeat: no-repeat
	background-size: 8px
	background-position: 95%

.h-225
	height: 225px
