.searcher-donation

	.awesomplete
		@apply block

.searcher-donation

	input[type="text"]
		width: 100%
		color: #4f4f4f
		font-size: 16px
		background-image: none
		height: 38px
		@apply px-3

		&::placeholder
			color: #4f4f4f
			font-size: 16px
			text-transform: none
			font-weight: 400

.searcher-form-submit
	@apply w-full text-center text-red-500 font-bold leading-none px-8 py-2 bg-white-pure border border-red-500 #{!important}
