.misha_loadmore
	@apply w-full flex items-center justify-center content-center

.misha_loadmore div
	width: 46px
	height: 46px
	margin-top: 40px
	background-image: url(../images/red-chevron.png)
	@apply bg-contain bg-center bg-no-repeat cursor-pointer
