.h-240
	height: 240px

.h-44
	height: 44px

.single-copy h2
	font-size: 30px
	font-weight: bold
	@media screen and (max-width:700px)
		font-size: 22px

.single-copy h3
	font-size: 26px
	font-weight: bold
	@media screen and (max-width:700px)
		font-size: 20px

.single-copy h4
	font-size: 40px
	font-family: 'Roboto Slab', serif
	@media screen and (max-width:700px)
		font-size: 30px

.max-820
	max-width: 820px

.single-copy iframe
	margin-top: 15px
	width: 100%
	min-height: 455px
	@media screen and (max-width:700px)
		width: 100%
		height: auto
		min-height: 100%

.single-copy ul
	padding-left: 20px

.single-copy li::before
	content: ""
	width: 4px
	height: 4px
	background: #d22630
	display: inline-block
	margin-right: 10px
	border-radius: 20px
	vertical-align: middle

.single-copy a
	color: #d22630
	text-decoration: underline

.single-copy blockquote
	color: #d22630
	font-size: 30px
	line-height: 42px
	padding-left: 40px !important
	border-left: 1px solid #e0e0e0

.font-40
	font-size: 40px
