@font-face {
  font-family: "Festus";
  src: url("../fonts/Festus/festus-webfont.eot?#iefix");
  src: url("../fonts/Festus/festus-webfont.eot?#iefix") format("eot"),
    url("../fonts/Festus/festus-webfont.woff2") format("woff2"),
    url("../fonts/Festus/festus-webfont.woff") format("woff"),
    url("../fonts/Festus/festus-webfont.ttf") format("truetype"),
    url("../fonts/Festus/festus-webfont.svg#festus-webfont") format("svg");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova/ProximaNovaW01-Regular.eot?#iefix");
  src: url("../fonts/ProximaNova/ProximaNovaW01-Regular.eot?#iefix")
      format("eot"),
    url("../fonts/ProximaNova/ProximaNovaW01-Regular.woff") format("woff"),
    url("../fonts/ProximaNova/ProximaNovaW01-Regular.ttf") format("truetype");
}
