input,
select,
textarea
    @apply appearance-none resize-none

input[type="checkbox"]
    appearance: checkbox
    -webkit-appearance: checkbox
    @apply mr-2

input:focus,
select:focus,
textarea:focus,
button:focus
    @apply outline-none