.fab
    
    &.fa-facebook
        
        &::before
            content: '\f09a'
            @apply font-bold

    &.fa-pinterest-p
        
        &::before
            content: '\f231'
            @apply font-bold

    &.fa-instagram
        
        &::before
            content: '\f16d'
            @apply font-bold