html,
body
    @apply tw-scroll-smooth tw-antialiased
    @apply tw-font-medium #{!important}

input[type=checkbox]
    appearance: checkbox !important
    -webkit-appearance: checkbox !important
    display: inline
