$block: '.box';

#{$block}{
    width: 36rem;
    margin-right: 1rem;
    margin-top: 1.3rem;
    &:last-child {
        margin-right: 0;
    }
    &__pic {
        border-radius: 5px;
        width: auto;
        height: 200px;
        &-expert {
            border-radius: 5px;
            width: auto;
            height: 200px;
            overflow: hidden;
            img {
                border-radius: 5px;
            }
            @include breakpoint(small only) {
               height: auto;
            }
        }
        @include breakpoint(medium down) {
           height: auto;
        }
    }
    &__subtitle {
        margin-top: 1.4rem;
        line-height: 1.1;
    }
    &__wrapper {
        @include breakpoint(medium down) {
           flex-wrap: wrap;
        }
    }
    &__container {
        flex-grow: 1;
    }
    .button {
        color: $white;
        &:hover {
            color: $white;
        }
    }
    @include breakpoint(medium down) {
       width: 30rem;
    }
    @include breakpoint(small only) {
       margin-right: .5rem;
       margin-left: .5rem;
       margin-top: 2rem;
    }
}
