$block: '.secondaryNavigation';

#{$block}{
    background-color: $dark-blue;
    .grid-container {
        padding: 0;
    }
    &__button {
        &-secondary {
            color: $dark-blue;
            font-family: $header-font-family;
            font-size: 1.4rem;
            font-weight: bold;
            padding: 1.8rem;
            background-color: $light-blue;
            cursor: pointer;
        }
    }
    &__hamburger {
        @include hamburger($dark-blue, $dark-blue, 20px, 16px, 2px, 3);
    }
}
